@font-face {
  font-family: UbiSans;
  font-weight: bold;
  src: url(../ubisoftsans-bold.ttf);
}

@font-face {
  font-family: UbiSans;
  font-weight: normal;
  src: url(../ubisoftsans-regular.ttf);
}

body {
    margin: 0;
    background-color: #171717;
  }

  .dropdown-menu {
    width: 15%;
    height: 100%;
    background-color: #131313;
  }

  .dropdown-menu a {
    text-decoration: none;
  }

  .dropdown-button {
    margin: 0;
    padding: 20px;
    color: white;

    font-family: UbiSans;
    font-weight: bold;
  }

  .dropdown-button:hover {
    background-color: #0e0d0d;
  }

  .md-container {
    padding-left: 20%; 
    width: 75%;
  }

footer {
    height: 4rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 0.875rem;
    padding-left: 20%;
    font-family: UbiSans;
    width: 75%;
    color: white;
  }